.authentication__header {
    /* color: white; */
}

.hr-class {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    opacity: 100%;
}

.authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
}

.authentication form {
    margin-bottom: 1rem;
}