body {
    background-color: rgb(71, 71, 71);
    --cost1: gray; /* 1-cost color for unit border and hex background */
    --cost2: #11b288; /* 2-cost color for unit border and hex background */
    --cost3: #207ac7; /* 3-cost color for unit border and hex background */
    --cost4: #c440da; /* 4-cost color for unit border and hex background */
    --cost5: #ffb93b; /* 5-cost color for unit border and hex background */
    color: white;
}

/* Start Clippath hex styling method */
/* method tutorial: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */

.boardhex-main {
    display: flex; 
    --s: 80px;  /* size  */
    --m: 4px;   /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); /* height of two hexagons (including their margins), minus twice the overlap */
    /* margin-bottom: 3%; */
}
  
.board-container {
    font-size: 0; /* disable white space between inline block element */
}

.hex {
    /* for displaying equipped items */
    display: inline-block;
    /* text-align: center; */
    position: relative;
    text-align: center;
}

.hex-border {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    /* display: inline-block; */
    font-size: initial; /* we reset the font-size if we want to add some content */
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2);
}

.hex-inner { /* TODO: VALIDATE IF THIS POSITION OR .hex-has-unit position NEEDS TO CHANGE TO KEEP HEX POSITIONS STATIC ON PAGE */
    position: relative; 
    top: var(--m); /* equal to border thickness */
    left: var(--m); /* equal to border thickness */
    width: calc(var(--s) - (var(--m) * 2)); /* container height - (border thickness * 2) */
    height: calc((var(--s) * 1.1547) - (var(--m) * 2)); /* container height - (border thickness * 2) */
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.board-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

/* End Clippath hex styling method */

.hex-empty {
    background-color: #000;
}
.hex-inner-empty {
    background-color: lightslategrey;
}

.hex-drag-over {
    background-color: goldenrod;
}

.hex-cost-1 {
    background-color: var(--cost1);
}

.hex-cost-2 {
    background-color: var(--cost2);
}

.hex-cost-3 {
    background-color: var(--cost3);
}

.hex-cost-4 {
    background-color: var(--cost4);
}

.hex-cost-5 {
    background-color: var(--cost5);
}

.hex-display-position { /* TODO: VALIDATE IF THIS POSITION OR .hex-inner position NEEDS TO CHANGE TO KEEP HEX POSITIONS STATIC ON PAGE */
    position: absolute; /* dropped images are centered properly when position is not defined BUT hex moves slighty when dropping unit without it being absolute */
}

.hex-info {
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center; */
}

.hex-info img { /* looks okay when height and width are 120%-125% when .hex-has-unit position is absolute*/
    height: 120%;
    width: 120%;
    /* max-height: calc(var(--s) * 1.1547); */
    display: block;
    margin: auto;
}

.hex-unit-name {
    position: absolute;
    font-size: 0.7em;
    bottom: 2em;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.hex-items {
    position: absolute;
    width: 100%;
    top: 4.5rem
}

.hex-items img {
    width: 1.3rem;

}

.item img {
    max-width: 2em;
}

.units-drag-over {
    background-color: plum;
}

.cost-1 img {
    border-color: var(--cost1);
}

.cost-2 img {
    border-color: var(--cost2);
}

.cost-3 img {
    border-color: var(--cost3);
}

.cost-4 img {
    border-color: var(--cost4);
}

.cost-5 img {
    border-color: var(--cost5);
}

.unit {
    position: relative;
    text-align: center;
}

.unit img {
    max-height: 5em;
    width: 100%;
    border-style: solid;
    border-width: 0.25em;
}

.unit-name {
    position: absolute;
    font-size: 0.7em;
    bottom: 0.4em;
    width: 100%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}