.team-comp-name-section {
    width: 12em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.team-comp-traits-section {
    width: 16em;
    margin-left: 1em;
    margin-right: 3em;
    margin-bottom: 1em;
}

.team-comp-units-section {
    width: 30em;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.team-comp-button-wrapper {
    margin-left: 1em;
}

.team-comp-button {
    margin-bottom: 1em;
    display: block;
    
}