body {
    background-color: #373737;
    /* background-color: var(--bs-gray-800); */
    color: #ffffff;
    --cost1: #808080; /* 1-cost color for unit border and hex background */
    --cost2: #11b288; /* 2-cost color for unit border and hex background */
    --cost3: #207ac7; /* 3-cost color for unit border and hex background */
    --cost4: #c440da; /* 4-cost color for unit border and hex background */
    --cost5: #ffb93b; /* 5-cost color for unit border and hex background */
}

.app-title {
    text-align: center;
    font-size: 3em;
}

.main-header {
    background-color: var(--bs-blue);
}

.error-message {
    text-align: center;
    background-color: #ff7e7e;
    color: #8b0000;
    border-radius: 0.3em;
    font-size: 0.9em;
}

.error-message::after {
    content: "\200b";
}

.hidden {
    display: none;
}

.description-title {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}

.description-bullets {
    padding: 0 2rem;
}

/* Start Clippath hex styling method */
/* method tutorial: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */

.boardhex-main {
    display: flex; 
    --s: 80px;  /* size  */
    --m: 4px;   /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); /* height of two hexagons (including their margins), minus twice the overlap */
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}
  
.board-container {
    font-size: 0; /* disable white space between inline block element */
}

.hex {
    /* for displaying equipped items */
    display: inline-block;
    position: relative;
    text-align: center;
}

.hex-border {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    font-size: initial; /* we reset the font-size if we want to add some content */
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2);
    background-color: #000000;
}

.hex-inner { /* TODO: VALIDATE IF THIS POSITION OR .hex-has-unit position NEEDS TO CHANGE TO KEEP HEX POSITIONS STATIC ON PAGE */
    position: relative; 
    top: var(--m); /* equal to border thickness */
    left: var(--m); /* equal to border thickness */
    width: calc(var(--s) - (var(--m) * 2)); /* container height - (border thickness * 2) */
    height: calc((var(--s) * 1.1547) - (var(--m) * 2)); /* container height - (border thickness * 2) */
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.board-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

/* End Clippath hex styling method */

.hex-inner-empty {
    background-color: #373737;
}

.hex-drag-over {
    background-color: #586a9b;
}

.hex-cost-1 {
    background-color: var(--cost1);
}

.hex-cost-2 {
    background-color: var(--cost2);
}

.hex-cost-3 {
    background-color: var(--cost3);
}

.hex-cost-4 {
    background-color: var(--cost4);
}

.hex-cost-5 {
    background-color: var(--cost5);
}

.hex-display-position { 
    position: absolute; 
}

.hex-info {
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center; */
}

.hex-info img { /* looks okay when height and width are 120%-125% when .hex-has-unit position is absolute*/
    height: 120%;
    width: 120%;
    /* max-height: calc(var(--s) * 1.1547); */
    display: block;
    margin: auto;
}

.hex-unit-name {
    position: absolute;
    font-size: 0.7em;
    bottom: 2em;
    text-shadow: 1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000;
}

.hex-items {
    position: absolute;
    width: 100%;
    top: 4.5rem
}

.hex-items-item {
    display: inline;
    margin: 0 0.05rem;
}

.hex-items-item img {
    width: 1.3rem;
}

.items-item img {
    width: 2em;
    border-radius: 0.2em;
}

.items-drag-over {
    background-color: #1a6637;
}

.units-drag-over {
    background-color: #19717c;
}

.units {
    max-height: 35em;
    overflow: auto;
}

.unit-group {
    background-color: #4b4b4b;
    font-size: 0.9em;
}

.trait {
    background-color: #4b4b4b;
    font-size: 0.8em;
    align-items: center;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    border-color: #000000;
}

.save-button {
    float: right;
}